.isActive{
    text-decoration: underline;
    color: red;
}

.navigation{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 40px;
    background-color: #333;
        color: white;
        padding: 1rem;
}

.link{
    color: white;
        margin: 0 1rem;
        text-decoration: none;
}