.moviesList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px  ;
}

.moviesListItem{
    width: 250px;
    background-color: white;
        padding: 1rem;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}